body{
    background-color: rgb(204, 51, 255);
}

#mos{
    padding-left: 4px;
}

#header{
    background-color: black;
    padding: 10px;
    font-size: 70;
    color: beige;
    text-align: center;
}

#taskbar{
    background-color: rgb(102, 0, 102);
    padding: 5px;
    padding-left: 20px;
    font-size: 20;
    text-align: center;
}

a{
    color: rgb(255, 255, 102);
}

img{
    padding-top: 5px;
}

#desc{
    padding: 5px;
    font-size: 20;
    background-color: black;
    color: beige;
}

table {
    background-color: rgb(154, 131, 200);
    margin: 0 auto;
    font-size: large;
    border: 1px solid black;
    margin: 10px;
}

td {
    color: rgb(96, 18, 232);
    border: 1px solid black;
    font-weight: lighter;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th{
    font-weight: bold;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

section {
    background-color: rgb(124, 79, 166);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

form{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    background-color: blueviolet;
}